{% assign option_to_match = settings.option_to_match %}
{% assign option_index = 0 %}
{% for option in product.options %}
  {% if option == option_to_match %}
    {% assign option_index = forloop.index0 %}
  {% endif %}
{% endfor %}

<form action="/cart/add" method="post"  class="clearfix product_form shappify_add_to_cart_form" enctype="multipart/form-data" data-money-format="{{ shop.money_format }}" data-option-index="{{ option_index }}" id="product-form-{{ product.id }}">
   
  {% if product.options.size > 1 %}
   
  <div class="select">
      <select id="product-select-{{ product.id }}" name='id'>
        {% for variant in product.variants %}
          <option value="{{ variant.id }}">{{ variant.title }}</option>
        {% endfor %}
      </select>
    </div>
  {% elsif product.options.size == 1 and product.variants.size > 1 %}
    <div class="select">
      <label>{{ product.options[0] }}</label>
      <select id="product-select-{{ product.id }}" name='id'>
        {% for variant in product.variants %}
          <option value="{{ variant.id }}">{{ variant.title }}</option>
        {% endfor %}
      </select>
    </div>
  {% else %}
    <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
  {% endif %}
 <!-- Bold Apps: Product Options -->
  
{% include 'shappify-options' %} 
  {% if product.available %}
     {% if settings.display_product_quantity %}
  <br/>
  <br/>
       <div class="select">
         <span class="buy-now">BUY NOW</span>:&nbsp;&nbsp;&nbsp;<!--Quantity-->
        <input type="number" min="1" size="1" class="quantity" name="quantity" id="quantity" value="1" />&nbsp;&nbsp;<input type="submit" name="add" value="Add to Cart" id="add-to-cart" style="margin-left:10px;" class="action_button" />
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="prod-price">${{product.variants.first.price|money_without_currency}}</span></div>
    {% endif %}
    <div class="purchase clearfix">
      {% if settings.cart_return == 'back' %}
        <input type="hidden" name="return_to" value="back" /> 
      {% endif %}
      <!--<input type="submit" name="add" value="Add to Cart" id="add-to-cart" class="action_button" /> -->
    </div>
  {% endif %}
</form>

{% if product.variants.size > 1 or product.options.size > 1 %}
  <script type="text/javascript">
    // <![CDATA[  
      $(function() {    
        $product = $('#product-' + {{ product.id }});
        new Shopify.OptionSelectors("product-select-{{ product.id }}", { product: {{ product | json }}, onVariantSelected: selectCallback });

        {% if product.available %}
          {% assign found_one_in_stock = false %}
          {% for variant in product.variants %}
            {% if variant.available and found_one_in_stock == false %}
              {% assign found_one_in_stock = true %}
              {% for option in product.options %}
                $('.single-option-selector:eq(' + {{ forloop.index0 }} + ')', $product).val({{ variant.options[forloop.index0] | json }}).trigger('change');
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endif %}
      });
    // ]]>
  </script>
{% endif %}