{% paginate collection.products by settings.pagination_limit %}

  <div class="sixteen columns">
    <div class="section clearfix">    
      <h1><a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title }}</a></h1>
    
      <div class="breadcrumb twelve columns alpha">
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">Home</span></a></span> 
        &#62;
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="url"><span itemprop="title">{{ collection.title }}</span></a></span>       
      
        {% if current_tags %}
          {% for tag in current_tags %}
            &#62;
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}" title="{{ tag | escape }}" itemprop="url"><span itemprop="title">{{ tag }}</span></a></span>       
          {% endfor %}
        {% endif %}
      
        {% if paginate.pages != 0 %}      
          &#62; Page {{ paginate.current_page }} of {{ paginate.pages }}
        {% endif %}
      </div>   

      {% if settings.collection_tags and collection.handle != blank %}        
        <div class="four columns section_select omega">
            {% for tag in collection.all_tags %}
              {% if forloop.first %}
                <select name="tag_filter" id="tag_filter">
                  <optgroup label="Filter {{ collection.title }}">
                    <option {% unless current_tags %}selected="selected"{% endunless %} value="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}">All Products</option>
              {% endif %}          
                
              {% unless tag contains 'meta-related-collection-' %}
                <option {% if current_tags contains tag %}selected="selected"{% endif %} value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}">{{ tag }}</option>
              {% endunless %}
              
              {% if forloop.last %}
                  </optgroup>
                </select>
              {% endif %}
            {% endfor %}
        </div>
      {% endif %}
      {% if collection.description != blank %}
        <div class="feature_text">
          {{ collection.description }}
        </div>
      {% endif %}
    </div>
  </div>

  {% include 'collection-sidebar' %}

  <div class="twelve columns">
    {% if collection.products.size == 0 %}
      <div class="center">
        <div class="section clearfix">    
          <p class="quote">No products found in this collection.</p>
        </div>
      </div>
    {% else %}
      {% assign products = collection.products %}
      {% assign products_per_row = settings.products_per_row %}
      {% include 'product-loop' with "sidebar" %}
    {% endif %}
  </div>
  {% include 'pagination' %}
{% endpaginate %}
